<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="./styles/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Modulo 2 Tarea 3</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./img/camara_de_representantes.png" alt="logo del gobierno de los Estados Unidos">
            <h1>TGIF </h1>
        </div>
        <a href="mailto:info@TGIF.com">info@TGIF.com</a>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Congress 113
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="house-starter-page.html">House</a></li>
                            <li><a class="dropdown-item" href="senate-starter-page.html">Senate</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Attendace
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="House-Atendance.html">House</a></li>
                            <li><a class="dropdown-item" href="Senate-Atendance.html">Senate</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Party Loyalty
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="House-Party-Loyalty.html">House</a></li>
                            <li><a class="dropdown-item" href="Senate-Party-Loyalty.html">Senate</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
      <div id="app">
          <div id="container1">
            <div>
              <h2>Party Loyalty</h2>
              <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
            </div>
            <div class="Tabla-Datos">
              <table class="table table-dark table-hover w-100">
                  <h2>House at a Glance</h2>
                  <thead>
                      <th>Party</th>
                      <th>Nº of Reps</th>
                      <th>% Votes w/party</th>
                  </thead>
                  <tbody id="table-house">
                    <tr>
                      <td>Republicans</td>
                      <td>{{estadisticas.Republicans.length}}</td>
                      <td>{{estadisticas.republicanVoteParty}}%</td>
                    </tr>
                    <tr>
                      <td>Democrats</td>
                      <td>{{estadisticas.Democrats.length}}</td>
                      <td>{{estadisticas.democratsVoteParty}}%</td>
                    </tr>
                    <tr>
                      <td>Independents</td>
                      <td>{{estadisticas.Independents.length}}</td>
                      <td>0%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{estadisticas.Independents.length + estadisticas.Democrats.length + estadisticas.Republicans.length}}</td>
                        <td>{{(0 + estadisticas.republicanVoteParty + estadisticas.democratsVoteParty).toFixed(2)}}%</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <div class="titulos">
            <h2 class="least">Least Loyal Bottom 10% of Party</h2>
            <h2 class="most">Most Loyal Top 10% of Party</h2>
          </div>
          <div id="container2">
        <table class="table table-dark table-hover">
            <thead>
                <th>Party</th>
                <th>Nº Party Votes</th>
                <th>% party votes</th>
            </thead>
            <tbody>
              <tr v-for="member in estadisticas.leastLoyalty">
                <td>{{member.last_name}}, {{member.first_name}} {{member.middle_name || ""}}
                </td>
                <td>{{Math.round(((member.total_votes -
              member.missed_votes)*member.votes_with_party_pct)/100)}}</td>
                <td>{{(member.votes_with_party_pct).toFixed(2)}}&#37;</td>
              </tr>
            </tbody>
        </table>
        <table class="table table-dark table-hover h-50">
            <thead>
                <th>Party</th>
                <th>Nº Party Votes</th>
                <th>% party votes</th>
            </thead>
            <tbody>
              <tr v-for="member in estadisticas.mostLoyalty">
                <td>{{member.last_name}}, {{member.first_name}} {{member.middle_name || ""}}
                </td>
                <td>{{Math.round(((member.total_votes -
              member.missed_votes)*member.votes_with_party_pct)/100)}}</td>
                <td>{{(member.votes_with_party_pct).toFixed(2)}}&#37;</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    </section>
    <footer>
        <img src="./img/logo-casa-blanca.png" alt="logo de la casa blanca"> ©2016 TGIF| All Rigth Reserved
        <img src="./img/The-United-State-of-America-Logo.jpg" alt="Logo del gobierno de los EE.UU">
    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>
